life-expectancy.json
[{"id":"e6e9e9bb.70a968","type":"tab","label":"Life Expectancy Prediction using Auto AI","disabled":false,"info":""},{"id":"2d70fc64.14cb64","type":"function","z":"e6e9e9bb.70a968","name":"Pre token","func":"global.set(\"co\",msg.payload.co)\nglobal.set(\"ye\",msg.payload.ye)\nglobal.set(\"st\",msg.payload.st)\nglobal.set(\"adult\",msg.payload.adult)\nglobal.set(\"infant\",msg.payload.infant)\nglobal.set(\"alc\",msg.payload.alc)\nglobal.set(\"per_exp\",msg.payload.per_exp)\nglobal.set(\"hepB\",msg.payload.hepB)\nglobal.set(\"meas\",msg.payload.meas)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"under\",msg.payload.under)\nglobal.set(\"polio\",msg.payload.polio)\nglobal.set(\"tot_exp\",msg.payload.tot_exp)\nglobal.set(\"diph\",msg.payload.diph)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"popu\",msg.payload.popu)\nglobal.set(\"thin1\",msg.payload.thin1)\nglobal.set(\"thin5\",msg.payload.thin5)\nglobal.set(\"income\",msg.payload.income)\nglobal.set(\"school\",msg.payload.school)\nvar apikey=\"nvclvmLOYx8Ab4xCOhkVZIOoYxlYc8Xsh8pDJwpGzDqS\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["adab39f8.a0f998"]]},{"id":"adab39f8.a0f998","type":"http request","z":"e6e9e9bb.70a968","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":280,"wires":[["b9d11659.86a3c","a6341413.44781"]]},{"id":"6c70ddc9.438074","type":"debug","z":"e6e9e9bb.70a968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":60,"wires":[]},{"id":"b9d11659.86a3c","type":"function","z":"e6e9e9bb.70a968","name":"sendto Endpoint","func":"var co = global.get('co')\nvar ye = global.get('ye')\nvar st = global.get('st')\nvar adult = global.get('adult')\nvar infant = global.get('infant')\nvar alc = global.get('alc')\nvar per_exp = global.get('per_exp')\nvar hepB = global.get('hepB')\nvar meas = global.get('meas')\nvar bmi = global.get('bmi')\nvar under = global.get('under')\nvar polio = global.get('polio')\nvar tot_exp = global.get('tot_exp')\nvar diph = global.get('diph')\nvar hiv = global.get('hiv')\nvar gdp = global.get('gdp')\nvar popu = global.get('popu')\nvar thin1 = global.get('thin1')\nvar thin5 = global.get('thin5')\nvar income = global.get('income')\nvar school = global.get('school')\nvar token=msg.payload.access_token\nvar instance_id=\"919d0abc-349b-4648-a6fb-ee98423bc04e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[co,ye,st,adult,infant,alc,per_exp,hepB,meas,bmi,under,polio,tot_exp,diph,hiv,gdp,popu,thin1,thin5,income,school]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["5acfcbba.4fc32c"]]},{"id":"5acfcbba.4fc32c","type":"http request","z":"e6e9e9bb.70a968","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/e8260e85-f67b-4224-871d-2926885b99c9/predictions","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":300,"wires":[["bff4ea07.e2ecb8","1054a52a.db02c3"]]},{"id":"ba9a28b.42dcad8","type":"ui_form","z":"e6e9e9bb.70a968","name":"","label":"","group":"59642382.91bd7c","order":2,"width":0,"height":0,"options":[{"label":"Country","value":"co","type":"text","required":true,"rows":null},{"label":"Year","value":"ye","type":"number","required":true,"rows":null},{"label":"Status","value":"st","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"adult","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"infant","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alc","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"per_exp","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hepB","type":"number","required":true,"rows":null},{"label":"Measles","value":"meas","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"under","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"tot_exp","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"diph","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"popu","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"thin1","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"thin5","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"income","type":"number","required":true,"rows":null},{"label":"Schooling","value":"school","type":"number","required":true,"rows":null}],"formValue":{"co":"","ye":"","st":"","adult":"","infant":"","alc":"","per_exp":"","hepB":"","meas":"","bmi":"","under":"","polio":"","tot_exp":"","diph":"","hiv":"","gdp":"","popu":"","thin1":"","thin5":"","income":"","school":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":90,"y":320,"wires":[["2d70fc64.14cb64","e0bd7d8a.94655"]]},{"id":"e9f7b4fd.2f3688","type":"ui_text","z":"e6e9e9bb.70a968","group":"59642382.91bd7c","order":1,"width":0,"height":0,"name":"","label":"Prediction:","format":"{{msg.payload}}","layout":"row-left","x":830,"y":140,"wires":[]},{"id":"1054a52a.db02c3","type":"function","z":"e6e9e9bb.70a968","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":80,"wires":[["6c70ddc9.438074","e9f7b4fd.2f3688"]]},{"id":"a6341413.44781","type":"debug","z":"e6e9e9bb.70a968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":380,"wires":[]},{"id":"bff4ea07.e2ecb8","type":"debug","z":"e6e9e9bb.70a968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":380,"wires":[]},{"id":"a57ba6c0.744588","type":"debug","z":"e6e9e9bb.70a968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":460,"wires":[]},{"id":"e0bd7d8a.94655","type":"function","z":"e6e9e9bb.70a968","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":380,"wires":[["a57ba6c0.744588"]]},{"id":"59642382.91bd7c","type":"ui_group","z":"","name":"Life Expectancy Predictor","tab":"24676aca.d5c32e","order":2,"disp":true,"width":"6","collapse":false},{"id":"24676aca.d5c32e","type":"ui_tab","z":"","name":"AutoAI","icon":"dashboard","order":2,"disabled":false,"hidden":false}]